*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:antiquewhite;
    min-height: 100vh;

    position:flex;
    flex-direction: column;
} 
/* 
header{  
    height: 10%;
} */

/* .navbar-custom {
    height: 100px;
  } */


  /* navbar */

.navbar{
    /* min-height: 100px;  */
    font-size: larger;
    text-align:right;
    padding: 10px;
    z-index: 100;
    border: 1px solid black;
}

/* 
.navbar .nav-item .dropdown-menu .dropdown-list{
    border: none !important;
    background-color: white !important;
} */


.navbar .nav-item a.nav-link{
    border: 1px solid black;
    padding: 8px;
    border-radius: 15px;
    color: white;
} 
/* 
.navbar:active{
    background-color:#000;
    color:white;
} */

.current_page_item {
    background-color: #C00;
    color: #FFF;
  }

#logo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transform:rotate(-20deg) ;
}

.navbar  .nav-item a:hover{

    background-color:orange;
    color: black;
    transition: 0.5s ease-in-out;
} 

.navbar a.dropdown-item{
    border: 1px dotted white;
    text-align: justify;
    /* opacity: 60%; */

}

/* district page */

.carousel{
  position: absolute;
  top: 15%;
  left:50%;
  /* min-width: 8%; */
  height: 10%;
}


.dist{
    float: left;
    color: brown;
    margin-left: 20%;
    margin-top: 10%;
    text-decoration-line: underline;
    text-decoration-style:double;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.mydist{
    float: left;
    margin-left: 3.5%;
    margin-top: 6.5%;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* 
.mylist{
    float: right;

} */

.mylist .list{
 /* list-style: none; */
 float: right;
 margin-right: 100px;
 margin-top: -70%;

}
.list .dropdown-item{
    border: 2px solid black;
    width: 250px;
    margin-right: 70px;
    list-style: none;
    border-radius: 15px;
    /* margin-top: -30%; */
    
}
.mylist .lost{
    float: left; 
    margin-top: -60%;
    margin-left: 20%;
    transform: skew(30deg,-30deg);
    border: 1px solid blanchedalmond;
    border-radius: 15px;
}
 
/* home page

.back{
    background-image: url('images/bekal3.jpg');
    margin-left: 30%;
} */

/* login form */

* {
	box-sizing: border-box;
}
/* 
body {
	background-color: #9b59b6;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
} */

.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}



#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  /* content: "&#10004;"; */
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative; 
  left: -35px;
  /* content: "&#10006;"; */
} 


  .won{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration-line: underline;
    margin-top: 50px; 
    color:rebeccapurple;

  }
  .map{
    float: right;
    margin-right: 30px;
    
  }
  .text .no{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 30px;
    margin-top: 50px;
  }
   */
  .on{
    margin-left: 30px;
    margin-top: 40px;
  }

  .name{
    float: left;
    margin-top: 100px;
    margin-left: 150px;
  }
  .img{
    float: right;
    margin-right: 24%;
    margin-top: 10px;
  }

  .imga{
    float: right;
    margin-right: 50%;
    margin-top: -30px;
  }
  
  .image{
    float: right;
    margin-right: 50%;
    margin-top: 30px;
  }
  .imag{
    float: right;
    margin-right: 325px;
    margin-top: 40px;
  }
  footer{
    background-color:silver;
    height: 230px;
    /* margin-top: 100%; */
    /* position: fixed; */
    margin-top: auto;
    
    }

  footer .last{
    margin-top:100%;
    margin-left: 300px;
    text-decoration: underline;
    color:darkblue ;
  }
  footer .hh{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  .not{
    text-align: center;
    margin-top: 50px;
    text-decoration:underline;
  }
  .now{
    text-align: center;
    margin-top: 100px;
    color:dodgerblue;
  }
  .yes{
    margin-top: 100px;
    margin-left: 100px;
  }
  .oh{
    text-align: center;
    margin-top: 100px;
    text-decoration-line: underline;
  }
  .back{
    width: 1200px;
    height: 800px;
    margin: 80px auto;
    padding: 50px;
    border: 1px solid black;

   background-image:url('../images/background.jpg');
   background-size: cover;
   color: black;
   text-align: center;
  }
  .carousel1{
    position: absolute;
    top: 170%;
    left:50%;
    /* min-width: 8%; */
    height: 10%;
  }
  h4{
    margin-left: 20px;
  }
  .ok{
    text-align: justify;
    margin-left: 40px;
  }







  






     
    
    

    
    

  
